:root{
    font-size: 16px;
}

/* basic body specifications */
body{
    margin: 0;
    padding: 0;
    height:100vh;
    width:100vw;
    font-family: Segoe UI, Segoe WP, Arial, Sans-Serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
}


/*-------------------------landing page-------------------------*/

/* remove to make it nav search bar */
.normal{
    width: 40rem !important;
    .search{
        width:100% !important;
        border-radius: 5rem!important;

        .location{
            display: flex !important;
        }
    }
}

/* make for removing bug of search bar changing postion for options loading */
.total-container{
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* whole search bar including options */
.search-bar{
    display: flex;
    flex-direction: column;
    width: 30rem;
    background-color: white;
    
    /* search bar only */
    .search{
        width:3rem;
        display: flex;
        border-radius: 50%;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
        background-color: transparent;
        height: 3rem;
        transition: width 0.5s ease-in-out,border-radius 0.5s ease-in-out,box-shadow 0.2s ease-in-out;

        /* input area for search */
        .location{
            all: unset;
            display: none;
            width:calc(100% - 3rem);
            border-top-left-radius: 5rem;
            border-bottom-left-radius: 5rem;
            border:none;
            padding: 0.5rem;
            background-color: transparent;
            transition: display 0.3s ease-in-out;
        }
    
        /* search button */
        button{
            width:3rem;
            border-radius: 0 50% 50% 0;
            border: none;
            background-color: transparent;
            padding: 0.7rem;

            /* search icon */
            svg{
                width: 100%;
                height: 100%;
                fill:rgba(90,200,250);
            }
        }

        /* button on hover */
        button:hover{
            background-color: rgba(90,200,250);
            svg{
                fill:white;
            }
        }
    }

    /* search bar on hover */
    .search:hover{
        width:100%;
        border-radius: 5rem;

        .location{
            display: flex;
        }
    }

    /* container for the options */
    .options{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        max-height: 10rem;
        overflow-y: auto;
        overflow-x: hidden;

        /* options displayed */
        .option{
            position: relative;
            height:1rem;
            display: flex;
            padding:1rem;
            border-bottom: 1px solid rgba(90,200,250);

            /* location name */
            .name{
                margin-right:auto;
            }
        }

        /* option on hover */
        .option:hover{
            background-color: rgba(90,200,250);
            color:white;
        }
    }

    .options:last-child{
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .options::-webkit-scrollbar {
        width: 0.5rem;
    }

    .options::-webkit-scrollbar-thumb {
        background-color: rgba(90,200,250);
        border-radius: 1rem;
    }

}

/* when search bar is selected */
.click {
    border:2px solid rgba(90,200,250);
    border-radius: 2rem;

    .search{
        width:100%;
        border-radius: 5rem;

        .location{
            display: flex;
            padding-left: 1rem;
        }
    }

}

/* to remove search box shadow when options load */
.border{
    box-shadow: 0px 0px 0px  !important;
}


/*-------------------------header-------------------------*/

header{
    min-width: 100vw;
    display:flex;
    flex-direction: row-reverse;
    height: 3rem;
    top:0;

    /* for the nav bar */
    .nav-bar{
        width:31rem;
        display: flex;
        position: relative;
        height: 100%;
        .nav{
            position: absolute !important;
        }
    }
}


/*-------------------------content page-------------------------*/

/* for hour container to be hidden */
.hour{
    display:none;
}

/* on select, for hour container to be displayed */
.on{
    display:flex;
    overflow-x: auto;
}