<!DOCTYPE html>
<html>
<head>
    <title>My Weather App</title>
    <link rel="stylesheet" type="text/css" href="style/styles.css">
</head>
<body>
    <h1>Welcome to My Weather App</h1>
    <p>Here you can check the weather for your location.</p>
    
    <form>
        <label for="location">Enter your location:</label>
        <input type="text" id="location" name="location" required>
        <button type="submit">Get Weather</button>
    </form>
    
    <div id="weather-info">
        <!-- Weather information will be displayed here -->
    </div>
    
    <script src="src/script.js"></script>
</body>
</html>